header nav ul {
   transition: .5s ease;
}

header .logo a {
   font-size: 24px;
   color: var(--primary);
   font-weight: 600;
}

header nav ul .mobile-btn {
   display: none;
}

header .hero-bar {
   font-size: 24px;
   color: var(--white);
   background-color: var(--primary);
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   padding: .4rem;
   display: none;
   cursor: pointer;
}

.top-12 {
   top: 12%
}

@media screen and (max-width:768px) {
   header nav ul {
      position: absolute;
      flex-direction: column;
      justify-content: center;
      right: 0;
      top: -100%;
      background-color: var(--secondry);
      height: 100vh;
      width: 100%;
      text-align: center;
   }

   header nav ul li {
      line-height: 4rem;
      width: 100%;
      border-bottom: 1px solid var(--primary);

   }

   header nav ul .mobile-btn {
      display: flex;
      gap: 1rem;
      width: 100%;
   }

   header nav ul .mobile-btn .cta,
   .cta-white {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
   }

   header .hero-btn {
      display: none;
   }

   header .hero-bar {
      display: flex;
   }

}